/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;
@use "../components/header";

body {
  font-family: type.$font;
  background-color: var.$bg-very-light;
  font-variation-settings: "opsz" 48, "SOFT" 33.8, "WONK" 0.733;
	font-weight: 723;
	font-size: 17px;
}
